@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Shadows+Into+Light&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: relative;
    width: 100%;
}

/*-- Scroll navbar --*/
.scroll-navbar {
    position: fixed;
    top: 2%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 10vh;
    display: flex;
}
.scroll-navbar img {
    width: 50px;
    height: 45px;
    border-radius: 50%;
}
.scroll-navbar h2 {
    padding-left: 30px;
    margin-top: 7px;
}
.nav-links ul {
    display: flex;
    margin-top: 5px;
    margin-left: 150px;
}
.nav-links ul li {
    margin: 0 30px;
    list-style: none;
    font-size: 25px;
}

.nav-links ul li a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.nav-links ul li a:hover {
    color: #000;
}
.nav-links ul li a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff7300;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.nav-links ul li a:hover::before {
    transform: scaleX(1);
}

/*-- CALL Button --*/
.call-btn-image {
    width: 100%;
    height: 80vh;
    margin-top: 10%;
    margin-bottom: 15%;
    background-image: url(/images/caldaia-3-gettyimages-1356196275-612x612.jpg);
    background-position: center;
    background-size: cover;
}
.opacity {
    width: 50%;
    height: 30vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33%;
    left: 24%;
}
.opacity::after {
    content:'';
    background: #7ffaee;
    width:100%;
    height:30vh;
    position:absolute;
    top:0;
    left:0;
    opacity:0.5;
    border-radius: 10px;
} 
.opacity-call-btn button {
    font-size: 50px;
    font-weight: 700;
    background: transparent;
    background-size: cover;
    border-radius: 10px;
    color: #222e50;
    border: none;
    position: relative;
    z-index: 1;
}
.opacity-call-btn button a {
    text-decoration: none;
    color: #222e50;
}
.call-btn:hover {
    background: #fccb06;
    color: #222e50;
    cursor: pointer;
}

/*-- CONTENT --*/
.content {
    width: 100%;
    height: 200vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
    margin-top: 10px;
}
.first-content {
    width: 50%;
    position: absolute;
    top: 5%;
    bottom: 0;
    left: 10%;
}
.second-content {
    width: 50%;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 25%;
}
.third-content {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
}
.fourth-content {
    width: 30%;
    position: absolute;
    top: 80%;
    right: 15%;
}

#fourth-img {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -100%;
    left: -130%;
}
.title {
    color: #ff7300;
    font-size: 25px;
    margin-bottom: 20px;
}
.box-content {
    position: relative;
}
.box-content p{
    font-size: 20px;
    top: 5%;
}
.box-content img {
    width: 180px;
    position: absolute;
    right: -40%;
    bottom: 0;
}

/*-- FOOTER --*/
.footer {
    width: 100%;
    height: 150vh;
    position: relative;
    margin-top: 150px;
    margin-bottom: 10px;
}
.footer-map {
    width: 100%;
    height: 86vh;
    background-color: #ff7300;
}
.footer iframe {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 1.4%;
}
.info-box {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #ffe6bc;
    top: 5%;
}
.info-box img {
    width: 300px;
    height: 216px;
    border-radius: 50%;
    position: absolute;
    top: 13%;
    left: 0;
}
.info {
    position: relative;
    top: 20%;
    right: 15%;
}
.info-title {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: absolute;
    top: 3%;
}
.info-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 170%;
    top: 5%;
}
.info-position h3 {
    margin-top: 3px;
}
.info-position p {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.info-contacts ul li {
    margin-top: 10px;
    list-style: none;
}
.info-contacts ul li a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.info-contacts ul li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10%;
    left: 0;
    background-color: #ff7300;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.info-contacts ul li a:hover::before {
    transform: scaleX(-1);
}
.brands {
    width: 10%;
    border: 1px solid #000;
    position: relative;
}
#chaffoteaux {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 0;
    top: 120%;
    left: 35%;
    z-index: 1;
}
#baxi {
    width: 60px;
    height: 30px;
    border-radius: 0;
    background: #fff;
    position: absolute;
    top: 138%;
    left: 32%;
    z-index: 2;
}
/*-- Copyright --*/
.copyright-box {
    width: 100%;
    height: 4.5vh;
    background: #ff7300;
    opacity: 0.9;
    position: absolute;
    bottom: -0.1%;
}
.copyright {
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 3%;
    color: #222e50;
}

/*-------------- Service style --------------*/
.service-img {
    width: 100px;
    height: 10vh;
    position: absolute;
    bottom: 0;
    right: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit:fill;
}
#second-service-box {
    width: 30%;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 10%;
}
#second-service-box button {
    width: 50%;
    height: 3vh;
    position: absolute;
    right: 110%;
    top: 35%;
    background: #ff7300;
    opacity: 0.8;
    border-radius: 20px;
    cursor: pointer;
}
#second-service-box button a {
    text-decoration: none;
    color: #000;
}
#second-service-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: -190%;
    top: 5%;
}
#second-service-text {
    position: absolute;
    left: -140%;
    top: 25%;
    font-size: 20px;
}

/*-------------- CONTACTS style --------------*/
.contacts-content {
    width: 100%;
    height: 170vh;
    position: relative;
    margin-top: 20vh;
    margin-bottom: 40vh;
    padding-top: 47vh;
}
.how-contact {
    width: 70%;
    height: 30vh;
    position: absolute;
    top: 5%;
    left: 15%;
    display: block;
    text-align: center;
    justify-content: center;
}
.how-contact h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000000c7;
}
.how-contact p {
    font-size: 18px;
    font-weight: 600;
    color: #000000c8;
}
.form-container {
    width: 100%;
    height: 125vh;
    position: relative;
    top: 27%;
    background: #ff7300;
}
.form-box {
    width: 55%;
    height: 105vh;
    position: relative;
    top: 5%;
    left: 5%;
    background: #fff;
    display: flex;
    text-align: center;
    justify-content: start;
}
.form-box h1 {
    color: #ff7300;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 50px;
}
.form-box form {
    width: 90%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 20%;
    left: 5%;

}
.input-row input{
    width: 100%;
    height: 8vh;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #8c8383d3;
}
.input-row textarea {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.termini {
    width: 70%;
    height: 5vh;
    position: relative;
}
.termini p {
    width: 100%;
    position: absolute;
    top: 110%;
    left: 9%;
}
.termini input {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 92%;
    left: 0;
    cursor: pointer;
}
#invia {
    width: 20%;
    height: 8vh;
    position: absolute;
    top: 68%;
    right: 0;
    border: 1px solid #ff7300;
    border-radius: 5px;
    background: #ff7300;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
#invia:hover {
    width: 20%;
    height: 8vh;
    position: absolute;
    right: 0;
    border: 1px solid #ff7300;
    border-radius: 5px;
    background: #fff;
    color: #ff7300;
    font-size: 19px;
    font-weight: 700;
}

/*-- Contact Spot --*/
.contact-spot {
    width: 30%;
    height: 105vh;
    position: relative;
    top: -79%;
    left: 65%;
    background: #fff;
}
.contact-spot h1 {
    color: #ff7300;
    position: absolute;
    top: 20%;
    left: 15%;
    font-size: 50px;
}
.contact-list {
    width: 100%;
    position: relative;
    top: 39%;
    left: 13%;
}
.contact-list ul li {
    list-style: none;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.contact-list ul li a {
    width: 75%;
    height: 5vh;
    background: #f5e5ac;
    color: #6f6c67;
    font-size: 18px;
    text-decoration: none;
    padding-top: 4px;
}
.contact-list ul li p {
    width: 75%;
    height: 9vh;
    list-style: none;
    background: #fadf7f;
    color: #6f6c67;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 3%;
}
.contact-img {
    width: 100%;
    height: 5vh;
    position: relative;
    top: 50%;
    display: flex;
    color: #ff7300;
    cursor: pointer;
}
.contact-img img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 5%;
}
.contact-img h3 {
    position: absolute;
    left: 25%;
    font-weight: 100;
}
.contact-img a {
    position: absolute;
    top: 100%;
    left: 27%;
    font-size: 35px;
    text-decoration: none;
    color: #ff7300;
}
.contact-spot hr {
    width: 65%;
    height: 4px;
    position: relative;
    top: 56%;
    left: 25%;
    background: #ff7300;
}

/*------------ Privacy Style ------------*/
.privacy-content {
    width: 100%;
    height: 100vh;
    position: relative;
}
.privacy-box {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 10%;
    background: #fadd7f;
    padding: 8%;
}
#policy-title {
    margin-top: 35px;
    margin-left: 35%;
    font-size: 60px;
}
#privacy-btn {
    position: absolute;
    right: 5%;
    background: #ff7300;
    border: 1px solid #ff7300;
    padding: 1%;
    border-radius: 20px;
}
#privacy-btn a {
    text-decoration: none;
    color: #000;
}


